[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "==1.4.0"
certifi = "==2025.6.15"
charset-normalizer = "==3.4.2"
idna = "==3.10"
opencv-python = "==4.11.0.86"
urllib3 = "==2.5.0"
global-land-mask = "*"
sentinelhub = "*"
numpy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
